<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ini-parser" version="2.5.2" />
  <package id="MeaMod.DNS" version="1.0.70" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.2" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" />
  <package id="NETStandard.Library" version="1.6.1" />
  <package id="Newtonsoft.Json" version="13.0.1" />
  <package id="OscCore" version="1.0.5" />
  <package id="System.Reactive" version="5.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" />
  <package id="VoicemeeterRemote" version="1.0.3" />
  <package id="VRChat.OSCQuery" version="0.0.7" />
</packages>